//
//	HEADER
// ------------------------------------------------------ /

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &.fromTheTop {        
        position: sticky;
        top: 0.1px;
        background: transparentize($color-white, 0.1);
        border-bottom: 1px solid $color-black;
        z-index: 10;
    }

    @media ( max-width: $width-lg ) {
        & img {
            width: 150px !important;
        }
    }
}

.menu {
    a {
        transition: all .2s;
        font: {
            size: em(22);
            weight: 300;
        }
        &:hover {
            color: $color-red;
        }
    }
    li {
        padding: 0 em(20);
    }
    @media ( max-width: $width-lg ) {
        display: none;
    }
}

.hamburger {
    display: none;
    z-index: 3;
    @media ( max-width: $width-lg ) {
        display: block;
    }
    a.open {
        color: $color-white;
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -800px;
    width: 0;
    height: 100vh;
    list-style-type: none;
    z-index: 2;
    background: transparentize($color-black, 0.1);
    transition: all .7s ease-in-out;
    overflow-x: hidden;

    & li {
        margin: 1em 0;
    }

    & a {
        color: $color-white;
        font: {
            size: 50px;
            weight: bold;
        }
    }

    &.open {
        width: 100%;
        right: 0;
    }
}