//
//	TYPOGRAPHY
// ------------------------------------------------------ /

h1 {
    font-size: em(100);
}

h2 {
    font-size: em(40);
}

h3 {
    font-size: em(30);
}

h4 {
    font-size: em(25);
}