//
//	VARIABLES
// ------------------------------------------------------ /

// Font

    $font-family: 'Roboto', sans-serif;

// Colors

    $color-white: #ffffff;
    $color-black: #000000;
    $color-red: #D61727;    
    $color-grey: #343434;
    $color-purple: #38324E;

// Breakpoints

    $width-sm: 400px;
    $width-md: 640px;
    $width-lg: 800px;
    $width-xlg: 1024px;